#General
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html

# ARCHIVOS DE CONFIGURACIONES
/config.php
*/config/config.php
*/config/constants.php
*/config/database.php

# FICHEROS GENERADOS
*.DS_Store
ehthumbs.db
Thumbs.db
nbproject