/* 
    Document   : main
    Created on : 25/02/2012, 02:40:05 PM
    Author     : xmalmorthen
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    //comentario aki
    display: block;
    
    //comentario aki
    //comentario aki
    //comentario aki//comentario aki
    
    //comentario aki
    //comentario aki
    //comentario aki
    //comentario aki
    //comentario aki
    //comentario aki
    //comentario aki
    /*
    asdasd
    asd
    asd
    asd
    asd
    asd
    asd
    a
    dd
    sa
    */
    
    
    
}

